@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{

margin: 0;

padding: 0;

box-sizing: border-box;
  
font-family: 'Poppins', sans-serif;

}

header{

height: 100vh;

background-image: url("https://t4.ftcdn.net/jpg/03/84/87/09/240_F_384870963_IRFvWDDfF2Xic9Q9L4wpNEQsj5GsTmic.jpg");
background-size: cover;

background-position: center;

background-repeat: no-repeat;

}

nav{
background-color: white;

display: flex;

justify-content: space-between;

align-items: center;

padding: 2rem 8rem;

}

#logo{

font-size: 3rem;

text-transform: uppercase;

}

nav ul{

display: flex;

gap: 40px;

list-style: none;

}

nav ul li{
  font-size: 2rem;
}

nav a{

color: black;

text-decoration: none;

}

.hero{

color: bisque;

display: flex;

justify-content: center;

align-items: center;

flex-direction: column;

height: 90vh;

}

.hero h1{

font-size: 5rem;

width: 60%;

text-align: center;

margin-bottom: 10px;

}

.hero button{

color: black;

background: pink;

border: none;

border-radius: 5px;

padding: 10px 20px;

font-size: 32px;

cursor: pointer;

transform: scale(1);
transition: transform 0.4s;

}

.hero button:hover{
transform: scale(1.1);
}

main{

background-color: #ffe8ef;

padding-block: 3rem;

}

.wrapper{

width: 40%;

margin-inline: auto;

text-align: center;

font-size: 1.2rem;

}

.wrapper h6{
  font-size: 3rem;
}

.wrapper p{

margin-block: 1rem;

}

#para{

font-size: 1.6rem;

font-weight: 500;

}
.list-div {
	display: flex;
  justify-content: center;
	gap: 5rem;
}
ol {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
footer {
	padding: 5rem;
  text-align: center;
	}


@media screen and (max-width: 800px){
nav ul{
  flex-direction: column;
}
  nav {
    padding: 0.5rem;
  }
  .hero h1 {
    font-size: 2rem;
    width: 80%;
  }
  .wrapper {
    width: 80%;
  }
  .wrapper p {
    font-size: 0.8rem;
}
	footer {
	padding: 0 2rem;
	}
}

@media screen and (max-width: 500px) {
  .list-div{
    flex-direction: column;
  }
}




