@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

header {
	height: 100vh;
	background-color: pink;
	background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/granvillelitec9tss/img-mxkJ4pb4rMUe8Nw1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

nav {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 8rem;
}

#logo {
	text-transform: uppercase;
}

nav ul {
	display: flex;
	gap: 40px;
	list-style: none;
}

nav a {
	color: black;
	text-decoration: none;
}

.hero {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 90vh;
}

.hero h1 {
	font-size: 5rem;
	width: 60%;
	text-align: center;
	margin-bottom: 10px;
}

.hero button {
	color: black;
	background: white;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
}

main {
	background-color: #ffe8ef;
	padding-block: 3rem;
}

.wrapper {
	width: 40%;
	margin-inline: auto;
	text-align: center;
	font-size: 1.2rem;
}

.wrapper p {
	margin-block: 1rem;
}

#para {
	font-size: 1.6rem;
	font-weight: 500;
}
.list-div {
	display: flex;
	justify-content: center;
	gap: 5rem;
}
ol {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
footer {
	padding: 5rem;
	text-align: center;
}

@media screen and (max-width: 800px) {
	nav {
		padding: 0.5rem;
		flex-direction: column;
	}
	.hero h1 {
		font-size: 2rem;
		width: 80%;
	}
	.wrapper {
		width: 80%;
	}
	.wrapper p {
		font-size: 0.8rem;
	}
	footer {
		padding: 0 2rem;
	}
}

@media screen and (max-width: 500px) {
	.list-div {
		flex-direction: column;
	}
}
