@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

header {
	height: 100vh;

	background-image: url("https://t4.ftcdn.net/jpg/03/84/87/09/240_F_384870963_IRFvWDDfF2Xic9Q9L4wpNEQsj5GsTmic.jpg");
	background-size: cover;

	background-position: center;

	background-repeat: no-repeat;
}

nav {
	background-color: pink;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 7rem;
	position: relative;
}

#logo {
	font-size: 3rem;

	text-transform: uppercase;
}
.navbar__toggle .bar {
	width: 25px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.3s ease-in-out;
	background: #fff;
}
#mobile-menu {
	display: none;
	position: absolute;
	top: 20%;
	right: 5%;
	transform: translate(5%, 20%);
}

.navbar__toggle .bar {
	display: block;
	cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
	opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}

nav ul {
	display: flex;
	gap: 40px;
	list-style: none;
}
nav ul.active {
	background: white;
	top: 100%;

	opacity: 1;
	transition: all 0.5s ease;
	z-index: 99;
	height: 60vh;
	font-size: 1.6rem;
}

nav ul li {
	font-size: 1.5rem;
}

nav a {
	color: black;

	text-decoration: none;
}

.hero {
	color: bisque;

	display: flex;

	justify-content: center;

	align-items: center;

	flex-direction: column;

	height: 90vh;
}

.hero h1 {
	font-size: 5rem;
	width: 60%;
	text-align: center;
	margin-bottom: 10px;
}

.hero button {
	color: black;

	background: pink;

	border: none;

	border-radius: 5px;

	padding: 10px 20px;

	font-size: 32px;

	cursor: pointer;

	transform: scale(1);
	transition: transform 0.4s;
}

.hero button:hover {
	transform: scale(1.1);
}

main {
	background-color: #ffe8ef;
}

.wrapper {
	width: 40%;
	margin-inline: auto;
	text-align: center;
	font-size: 1.2rem;
	padding: 2rem 0;
}

.wrapper h6 {
	font-size: 4rem;
}

.wrapper p {
	margin-block: 1rem;
}

.para {
	font-size: 1.6rem;
	font-weight: 500;
}

.list-div {
	display: flex;
	justify-content: center;
	gap: 5rem;
}
ol {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
footer {
	padding: 5rem;
}

@media screen and (max-width: 800px) {
	nav {
		padding: 0.5rem;
		flex-direction: column;
	}

	.hero h1 {
		font-size: 2rem;
		width: 80%;
	}
	.wrapper {
		width: 80%;
	}
	.wrapper p {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 500px) {
	#logo {
		font-size: 2rem;
	}
	nav {
		padding: 0.5rem;
		flex-direction: row;
		align-items: center;
	}
	#mobile-menu {
		display: block;
	}
	nav ul {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: -1000px;
		left: 0;
		right: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: -1;
	}

	.wrapper h6 {
		font-size: 3rem;
	}
	.list-div {
		flex-direction: column;
		gap: 0;
	}
	li {
		font-size: 0.8rem;
	}
}

/* @media screen and (max-width: 500px) {
	.list-div {
		flex-direction: column;
	}
} */
