* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
font-family: 'Mulish', sans-serif;
}
body {
  background-color: #eee;
}

/* SECTION ONE */
#section__one {
  background-color: rgb(208, 215, 201);
  text-align: center;
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#section__one .container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#section__one .container h2 {
  font-weight: 300;
  font-size: 16px;
}

#section__one .container button {
  padding: 15px 30px;
  background-color: #000;
  border: none;
  cursor: pointer;

  color: white;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

#section__one .container button:hover {
  opacity: 0.8;
}
/* SECTION TWO */
img {
  width: 250px;
  height: 250px;
}

#section__two {
  padding: 40px;
  background-color: burlywood;
}

#section_two,
h2 {
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
}

#section_two,
h3 {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

#section__two .container {
  --gap: clamp(1rem, 5vmin, 2rem);
  columns: 400px;
  gap: var(--gap);  
  width: 80%;
  max-width: 100%;
  margin: 5rem auto;
}

#section__two .container * {
  break-inside: avoid;
  margin-bottom: var(--gap);
}

@media screen and (max-width: 560px) {
  #section__two .container {
    grid-template-columns: repeat(1, 1fr);
  }
}


.item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  padding: 2rem;
  background-color: white;
  border-radius: 5px;
}

.item img {
  border-radius: 3px;
}

select {
  padding: 0.5rem  ;
  font-size: 1.2rem;
  margin-block: 1rem;
}

.price {
  color: white;
  background-color: black;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 3px;
}